.content-part{
    background-color: white;
    min-width: 72%;
    min-height: 90%;
    position: absolute;
    padding-left: 5px;
    border-radius: 25px;
}
.content-head{
    float: left;

}

.content-head h1{
    float: left;
    color: black;
    padding: 10px;

}
.content-head p{
    padding: 10px;
    color: black;
    display: inline-block;
}
.content-education-div{
    min-width: 100px;
    min-height: 100px;
}
.content-experience-div{
    min-width: 100px;
    min-height: 100px;
}